*{
    margin: auto;
    font-family: Verdana;
    color: #ffffff;
  }

  
 #eclipse{

 }
 #menuairo{
   background-image: url("/img/matiasbonito.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   max-width: 100%;
   max-height: 20%;
     }
  body{
    background-image: url("/img/fundo_1123.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
.opt{
  justify-content: center;
}


.menuairo div{
inline-size: auto;
height: 80px;
display: flex;

width: 1000px;
}
li{
  display: inline-block;

  margin-right: 14.7%;
}
.info{
  margin-left: 10px;
}
 #menuairo ul {
   max-width: 1800px;
   list-style: none;
   padding: 0;
 }

 #menuairo ul li a{
   color:#ffffff;
   padding:20px;
   display: inline-block;
   transition: background .5s;
 }
 #menuairo ul li a:hover{
   background-color: rgba(23, 24, 24, 0.699);

 }
